In [1]:
"""
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
"""
import pandas as pd
series = pd.Series([4, 8, 15, 16, 23, 42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
"""
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
"""
import pandas 

list1 = [1,2,3,4,5,6,7,8,9,10]

series = pandas.Series(list1)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
"""
Q3. Create a Pandas DataFrame that contains the following data:
"""
import pandas

data = {'Name' : ['Alice', 'Bob', 'Claire'],
        'Age' : [25, 30, 27],
        'Gender' : ['Female', 'Male', 'Female']}

df = pandas.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
"""
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans.In Pandas, a DataFrame is a two-dimensional, tabular data structure that is capable of holding data of various types. It is similar to 
    a spreadsheet or a SQL table and is one of the most commonly used data structures for data manipulation and analysis. DataFrames have 
    both rows and columns, and each column can contain data of a different type. DataFrames are very versatile and provide a wide range of 
    functions for data exploration, cleaning, and analysis.

    On the other hand, a Pandas Series is a one-dimensional labeled array that can also hold data of various types. It is similar to a 
    single column or a single row of a DataFrame. A Series is essentially a single column or row of data with associated labels 
    (the index).
"""

In [10]:
#Example for DataFrame
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [12]:
#Exampple for series :
import pandas as pd

ages = [25, 30, 27]
age_series = pd.Series(ages)

print(age_series)

0    25
1    30
2    27
dtype: int64

In [ ]:
"""
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Canyou give an example of when you might use
    one of these functions?
Ans.Pandas provides a wide range of functions and methods to manipulate data in a DataFrame. Here are some common functions and methods 
    used for data manipulation in a Pandas DataFrame, along with examples of when you might use them:
    
    1.Selecting Columns: You can select one or more columns from a DataFrame using indexing or the loc and iloc accessors.
    2.Filtering Data: You can filter rows based on conditions using boolean indexing.
    3.Sorting Data: You can sort the DataFrame based on one or more columns.
    4.Grouping Data: You can group data based on one or more columns and apply aggregate functions.
    5.Merging and Joining: You can merge multiple DataFrames based on common columns.
    6.Adding or Removing Columns: You can add or remove columns from a DataFrame.
"""

In [ ]:
#Selecting Column :

df['Column_Name']

df[['Column1', 'Column2']]

df.loc[:, 'Column_Name']
df.iloc[:, 0]

In [ ]:
#Filtering Data :

df[df['Age'] > 30]

In [ ]:
#Sorting Data :

df.sort_values(by='Age')

df.sort_values(by=['Age', 'Name'])

In [ ]:
#Grouping data :

df.groupby('Gender')['Age'].mean()

In [ ]:
#Merging Data :

merged_df = pd.merge(df1, df2, on='Common_Column')

In [ ]:
"""
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans.
  Series: Series is mutable, meaning you can modify the values in a Series after it's created. You can change individual elements, add or 
          remove elements, and update the Series in place.

  DataFrame: DataFrame is also mutable. You can modify the values in specific cells, add or remove rows and columns, and make various data 
             transformations on the DataFrame.

  Panel: In older versions of Pandas (prior to version 0.25.0), Panel was a three-dimensional data structure. However, it has been 
         deprecated and is no longer part of modern Pandas (version 0.25.0 and later). Therefore, it's not relevant to discuss the 
         mutability of Panels in modern Pandas because they should not be used.

  In summary, Series and DataFrame are mutable in nature, but Panels should not be used in modern Pandas as they have been deprecated.
"""

In [16]:
"""
Q7. Create a DataFrame using multiple Series. Explain with an example.
"""
import pandas as pd

name = pd.Series(['Avnish','Aastha','Sagar','Chandu','Dev'])
age = pd.Series([20,20,21,22,20])
lastname = pd.Series(['Rai','Yadav','Sharma','Yadav','Goswami'])
gender = pd.Series(['Male','Female','Male','Male','Male'])

df = pd.DataFrame({'Name' : name,
                   'Age' : age,
                   'Surname' : lastname,
                   'Gender' : gender
            })

print(df)

     Name  Age  Surname  Gender
0  Avnish   20      Rai    Male
1  Aastha   20    Yadav  Female
2   Sagar   21   Sharma    Male
3  Chandu   22    Yadav    Male
4     Dev   20  Goswami    Male